In [4]:
import pandas as pd
import numpy as np

In [5]:
dbh_living = pd.read_excel('./data/dbh-of-living trees.xlsx', header=0)
dbh_living = pd.DataFrame(np.sort(dbh_living.values, axis=0), index=dbh_living.index, columns=dbh_living.columns)
dbh_living.tail()

,2013-żywe,2014-żywe,2015-żywe,2016-żywe,2017-żywe,2018-żywe,2019-żywe,2020-żywe,2021-żywe,2022-żywe
2732,98.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2733,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2734,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2735,102.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2736,105.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN