In [68]:
import pandas as pd
import numpy as np

In [73]:
dbh_living = pd.read_excel('./data/dbh-of-living trees.xlsx', header=0)
dbh_living = pd.DataFrame(np.sort(dbh_living.values, axis=0), index=dbh_living.index, columns=dbh_living.columns)
dbh_living.tail()

,2013-żywe,2014-żywe,2015-żywe,2016-żywe,2017-żywe,2018-żywe,2019-żywe,2020-żywe,2021-żywe,2022-żywe
2732,98.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2733,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2734,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2735,102.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2736,105.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
dead_trees = pd.DataFrame(
    '2015-martwe': dbh_living['2014-żywe'] dbh_living['2015-żywe'].isnotna().sum()

SyntaxError: '(' was never closed (594391234.py, line 1)

In [74]:
dbh_living['2013-żywe'].iloc[dbh_living['2014-żywe'].notna().sum():]

2648     74.0
2649     74.0
2650     74.0
2651     74.0
2652     74.0
        ...
2732     98.0
2733     99.0
2734     99.0
2735    102.0
2736    105.0
Name: 2013-żywe, Length: 89, dtype: float64

In [50]:
dbh_living['2015-żywe'].notna().sum()

2555